h1{
    color:#FFFFFF;

    font-size:20px;

    background-color:#CCFFCC;

    height:80px;

    width:200;
}

h2{
    background-color: aqua;
}

img{

    height:200;

    width:320;
}

.ml{
    color:#CCFFCC;
}

.ai{
    color:#CCFFCC;
}
